ul.repos-list {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

li.repos-item {
  display: flex;
  flex-direction: row;
  margin: 5px;
}

li.repos-item header {
  width: 100%;
  background-size: cover;
  max-width: 120px;
  border-radius: 4px;
}

li.repos-item strong {
  margin-top: 10px;
  font-size: 24px;
  color: #444;
}
li.repos-item p {
  font-size: 15px;
  color: #999999;
}

div.repos-content {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

a.repos-link {
  color: #444;
  text-decoration: none;
}
div.pagination {
  display: flex;
  flex: row;
  justify-content: space-between;
}
